name: Conformance Runner
on: [push]

jobs:
  build-conformance-runner:
    strategy:
        matrix:
          os: [ubuntu-latest, macos-15-intel, macos-15]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Check out repository
      uses: actions/checkout@v3
    - name: Read protobuf version
      run: echo "proto_version=$(cat PROTOBUF_VERSION)" >> $GITHUB_ENV
    - name: Check out protobuf
      uses: actions/checkout@v3
      with:
        repository: protocolbuffers/protobuf
        ref: v${{ env.proto_version }}
        path: protobuf
    - name: Bazel cache
      uses: actions/cache@v4
      with:
        path: bazel-cache
        key: bazel-${{ matrix.os }}-${{ hashFiles('protobuf/WORKSPACE', 'protobuf/BUILD.bazel') }}
    - name: Build runner binary
      run: bazelisk --output_base=../bazel-cache build conformance/conformance_test_runner
      working-directory: protobuf
    - name: Copy binary
      run: cp bazel-bin/conformance/conformance_test_runner conformance_test_runner-${{ runner.os }}-${{ runner.arch }}-${{ env.proto_version }}
      working-directory: protobuf
    - name: Archive binary
      uses: actions/upload-artifact@v4
      with:
        name: conformance_test_runner-${{ runner.os }}-${{ runner.arch }}-${{ env.proto_version }}
        path: protobuf/conformance_test_runner-${{ runner.os }}-${{ runner.arch }}-${{ env.proto_version }}
  release-conformance-runner:
    runs-on: ubuntu-latest
    needs: build-conformance-runner
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - name: Download binary
        uses: actions/download-artifact@v4
        with:
          path: binaries
      - name: ls
        run: ls -lR
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: binaries/**/*
